  <div *ngIf="!isLoadingData">
      <div class="col-md-10">
          <h1>{{ classify.name }}</h1>
          <button type="button" class="btn btn-outline-primary" (click)="edit(classify.classifyId)">Edit</button>
        <table class="table">
          <thead>
            <tr>
              <th>Stock ID</th>
              <th>Name</th>
              <th>Symbol</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of stocks">
              <td>{{ stock.id }}</td>
              <td>{{ stock.name }}</td>
              <td>{{ stock.symbol }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<div class="bg-light p-3" *ngIf="message">{{ message }}</div>
